 body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    background: #0d0d1a;
    }
   
.box {
      background: rgba(255, 255, 255, 0.8); 
      padding: 40px;
      border-radius: 10px;
      text-align: center;
      width: 500px;
 }
  table {
    border-collapse: collapse;
    margin: 10px auto;
    background: rgba(255,255,255,0.1);
    width: 100%;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
  }

  th {
    background: rgba(255,255,255,0.2);
  }


    
@media (min-width: 1600px) {
  .box { display: block;  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .box { display: none; }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .box { display: block;  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .box { display: none; }
}

@media (min-width: 481px) and (max-width: 600px) {
  .box { display: block;  }
}

@media (max-width: 480px) {
  .box { display: none; }
}












